.textarea-wrapper {
  position: relative;
  margin-bottom: 12px;
}

.situation-input {
  --background: var(--ion-color-light);
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  --border-radius: 12px;
  --border-width: 0;
  --border-style: none;
  margin: 24px 0 10px 0;
}

.clear-button {
  position: absolute;
  top: 5px;
  right: 5px;
  --padding-start: 8px;
  --padding-end: 8px;
  margin: 0;
  z-index: 10;

  ion-icon {
    font-size: 20px;
    color: var(--ion-color-medium);
  }
}

.helper-text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: var(--ion-color-medium);
  margin-bottom: 24px;
}

.helper-text ion-icon {
  flex-shrink: 0;
  font-size: 18px;
}

.validation-note {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--ion-color-danger-tint);
  border-radius: 8px;
  margin-top: 16px;
}

.validation-note ion-icon {
  font-size: 20px;
}

  