.step1-title {
  margin-bottom: 0 !important;
}

.step1-subtitle {
  margin-top: 0 !important;
}

.other-input {
  --padding-start: 10px;
  --background: var(--ion-color-light);
  border-radius: 12px;
}

ion-toolbar {
  --background: white;
}
